/* ======================================= 

1 - General Properties

=======================================  */

html,
body {
    margin: 0;
}


/* ======================================= 

2 - Header

=======================================  */

@media screen and (min-width: 641px) {
    #desktop-header {
        display: flex;
    }
    #mobile-header {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    #desktop-header {
        display: none;
    }
    #mobile-header {
        display: flex;
    }
}

#desktop-header,
#mobile-header {
    align-items: center;
    height: 64px;
}

#desktop-header {
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    left: 24px;
    right: 24px;
}

#mobile-header {
    justify-content: space-around;
}

#desktop-logo {
    display: flex;
    align-items: center;
}

#colmar,
#academy {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
}

#colmar {
    color: #444;
    font-weight: bold;
}

#academy {
    color: #bbb;
}

#desktop-menu ul {
    display: flex;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

#desktop-menu li {
    margin-left: 16px;
}

#desktop-menu a {
    text-decoration: none;
    color: black;
}


/* ======================================= 

3 - Main

=======================================  */

main {
    position: absolute;
    top: 64px;
}


/* ======================================= 

4 - Banner

=======================================  */

@media screen and (min-width: 641px) {
    #banner {
        display: flex;
        align-items: center;
    }
    #banner img {
        width: 60%;
        margin: 32px 24px;
    }
    #banner-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
    }
}

#banner {
    background-color: #ddd;
}

#banner h1,
#banner p {
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
}

#banner-content h1 {
    font-size: 2.1rem;
}

#banner-content p {
    font-size: 1.2rem;
}

#banner-content button {
    margin: 50px auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.1rem;
    padding: 8px 0;
    background-color: #444;
    border: none;
}